{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF=8">
		<title>{% block title %}Viberr{% endblock %}</title>

		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'diary/style.css' %}">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'diary:index' %}">My Diary</a>
			</div>

			<!-- Item -->
			<div class="collapse navbar-collapse" id="topNavBar">
				<ul class="nav navbar-nav">

				</ul>

				<form class="navbar-form navbar-left" role="search" method="get" action="#">
					<div class="form-group">
						<input type="text" class="form-control" name="q" value="">
					</div>
					<button type="submit" class="btn btn-default">Search</button>
				</form>
				<ul class="nav navbar-nav navbar-right">

				</ul>
			</div>
		</div>
	</nav>
	
	{%  block body %}
	{% endblock %}
</body>
</html>