{% extends "diary/base.html" %}
{%  block body %}

                    <h3>Add a New Song</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
					<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{% include 'diary/form_template.html' %}
						<input type="text" name="book_url"></input>Book<br>
						<input type="text" name="song_url"></input>Song <br>
						<input type="text" name="site_url"></input>Site<br>
						<input type="text" name="post" value="{{ post.pk }}"></input>

						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class = "btn btn-success">Submit</button>
							</div>
						</div>

					</form>

{% endblock %}